node_modules/
__pycache__/
desktop/app/
desktop/dist/
mobile/www/
mobile/android/app/build/
mobile/android/build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/capacitor-cordova-android-plugins/build/
*.log
